<footer class="footer">
  <small>
    <a href="http://facebook.com/skand">Run Log</a>
    by Skand Gupta
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>